root = true

[*.cs]

[Beetles/Beetles.Infrastructure/**.cs]
generated_code = true

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = lf
insert_final_newline = true

# Remove unnecessary using
# dotnet_diagnostic.IDE0005.severity = error
dotnet_diagnostic.IDE0005.severity = warning
# dotnet_diagnostic.IDE0005.severity = suggestion
# dotnet_diagnostic.IDE0005.severity = silent

# Unused private members (including methods)
dotnet_diagnostic.IDE0051.severity = warning

# Unused parameters in methods
dotnet_diagnostic.IDE0060.severity = warning
dotnet_diagnostic.CA1822.severity = warning

dotnet_diagnostic.CA1873.severity = silent

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
