root = true

[*.cs]

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = lf
insert_final_newline = true

# Remove unnecessary using
# dotnet_diagnostic.IDE0005.severity = error
dotnet_diagnostic.IDE0005.severity = warning
# dotnet_diagnostic.IDE0005.severity = suggestion
# dotnet_diagnostic.IDE0005.severity = silent

# Unused private members (including methods)
dotnet_diagnostic.IDE0051.severity = warning

# Unused parameters in methods
dotnet_diagnostic.IDE0060.severity = warning
dotnet_diagnostic.CA1822.severity = warning

dotnet_diagnostic.CA1873.severity = silent

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# CA1812: An internal (assembly-level) type is never instantiated
dotnet_diagnostic.CA1812.severity = suggestion

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA2007: An asynchronous method awaits a Task directly
dotnet_diagnostic.CA2007.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = error

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

[Beetles/src/Beetles.Infrastructure/Migrations/*.cs]
generated_code = true
